<div class="footer">
    <div><a href="#">이용약관</a></div>
    <div><a href="#">개인정보처리방침</a></div>
    <div><a href="#">커뮤니티이용규칙</a></div>
    <div><a href="#">공지사항</a></div>
    <div><a href="#">문의하기</a></div>
    <div><a href="#">ⓒ에브리타임</a></div>
</div>

</body>

</html>