<div class="sub_menu">
    <div class="driver"></div>
    <div class="group">
        <ul>
            <li>
                <a href="#">자유게시판</a>
            </li>
            <li>
                <a href="#">비밀게시판</a>
            </li>
            <li>
                <a href="#">졸업생게시판</a>
            </li>
            <li>
                <a href="#">새내기게시판</a>
            </li>
            <li>
                <a href="#">시사·이슈</a>
            </li>
            <li>
                <a href="#">장터게시판</a>
            </li>
            <li>
                <a href="#">홍보게시판</a>
            </li>
        </ul>
    </div>
    <div class="group">
        <ul>
            <li>
                <a href="#">동아리·학회</a>
            </li>
            <li>
                <a href="#">취업·진로</a>
            </li>
        </ul>
    </div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
</div>
</div>