<div class="sub_menu">
    <div class="driver"></div>
    <div class="group">
        <ul>
            <li>
                <a id="freeBoard" href="/s/board/1">자유게시판</a>
            </li>
            <li>
                <a id="secretBoard" href="/s/board/2">비밀게시판</a>
            </li>
            <li>
                <a id="graduateBoard" href="/s/board/3">졸업생게시판</a>
            </li>
            <li>
                <a id="freshmanBoard" href="/s/board/4">새내기게시판</a>
            </li>
            <li>
                <a id="previewBoard" href="/s/board/5">시사·이슈</a>
            </li>
            <li>
                <a id="marketBoard" href="/s/board/6">장터게시판</a>
            </li>
            <li>
                <a id="promotionBoard" href="/s/board/7">홍보게시판</a>
            </li>
        </ul>
    </div>
    <div class="group">
        <ul>
            <li>
                <a id="clubBoard" href="/s/board/8">동아리·학회</a>
            </li>
            <li>
                <a id="employBoard" href="/s/board/9">취업·진로</a>
            </li>
        </ul>
    </div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
    <div class="group"></div>
    <div class="driver"></div>
</div>
</div>