{{> /layout/header}}
{{> /layout/subMenu}}
<div class="my_post_detail_flex_center my_m_md_2">
    <!-- 글 상세보기 시작 -->
    <div class="my_post_detail_box_fix" style="margin-top: 10px;">
        <div>
            <div class="my_post_border my_p_md_1">
                <!-- 게시판타이틀박스 -->
                <div id="my-board-title" class="my_board_title"></div>
                <input id="boardNo" type="hidden" value="{{detailResDto.post.boardNo}}">
            </div>

            <div class="my_post_border">
                <div class="main my_p_md_1">
                    <!-- 메인박스 -->
                    <div>
                        <div class="my_post_detail_flex">
                            <div class="my_board_user">
                                <img src="/images/profileImg.png">
                            </div>
                            <div style="width: 100%;">
                                <div class="my_post_detail_flex_space_between" style="border: 0;">
                                    <input id="postId" type="hidden" value="{{detailResDto.post.id}}">
                                    <input id="userId" type="hidden" value="{{detailResDto.post.user.id}}">
                                    <div class="my_board_username">{{detailResDto.post.user.username}}</div>
                                    <div class="my_post_detail_flex_center">
                                        {{#detailResDto.auth}}
                                        <a id="btn-update" class="my_m_sm_2" href="javascript:;">수정</a>
                                        <a id="btn-delete" class="my_m_sm_2" href="javascript:;">삭제</a>
                                        {{/detailResDto.auth}}
                                        {{^detailResDto.auth}}
                                        <a class="my_m_sm_2" href="#">쪽지</a>
                                        <a class="my_m_sm_2" href="#">신고</a>
                                        {{/detailResDto.auth}}

                                    </div>
                                </div>
                                <div>
                                    {{detailResDto.post.formatCreateDate}}
                                </div>
                            </div>
                        </div>
                        <div class="my_board_title my_mb_md_1 my_mt_md_1">{{detailResDto.post.title}}</div>
                        <div class="my_board_content">{{detailResDto.post.content}}</div>
                        <ul class="my_post_detail_flex_left my_p_0">
                            <li id="like-count" class="my_post_count_vote">{{detailResDto.post.likeCount}}</li>
                            <li class="my_post_count_comment">{{detailResDto.post.commentCount}}</li>
                            <li id="scrap-count" class="my_post_count_scrap">{{detailResDto.post.scrapCount}}</li>
                        </ul>
                        <div class="my_post_buttons">
                            <button class="my_btn_vote">공감</button>
                            <span id="btn-scrap" class="my_btn_scrap">스크랩</span>
                        </div>
                    </div>
                </div>
                <!-- 댓글 시작 -->

                <!-- 댓글 쓰기 -->
                <div class="my_post_border_top">

                    <form action="/s/post/{{detailResDto.post.id}}/comment" class="my_comment_form" method="post">
                        <div class="my_post_detail_flex_space_between">
                            <input name="content" class="my_comment_input" type="text" maxlength="300"
                                placeholder="댓글을 입력하세요.">
                            <input type="hidden" value="0" name="likeCount">
                            <input type="hidden" id="anony-text" name="anonyCheck" value="true">
                            <div class="my_comment_buttons my_post_detail_flex_center">
                                <div id="anony" class="write_anony my_btn_active"></div>
                                <input id="submit" class="submit" type="submit" value=""></input>
                            </div>
                        </div>
                    </form>

                </div>

                <!-- 댓글 목록 -->
                <div>
                    <ul id="reply-box" class="list-group">

                        {{#comments}}
                        <li class="my_p_md_1" style="border-top: 1px solid #d6d6d6;">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex">
                                    <div>
                                        <img class="my_comment_list_img" src="/images/profileImg.png">
                                    </div>
                                    {{#comment.anonyCheck}}
                                    <div class="my_comment_list_username">익명</div>
                                    {{/comment.anonyCheck}}
                                    {{^comment.anonyCheck}}
                                    <div class="my_comment_list_username">{{comment.user.username}}</div>
                                    {{/comment.anonyCheck}}
                                </div>
                                <div class="d-flex">
                                    {{#auth}}
                                    <a class="my_ml_sm_1" href="" onclick="deleteComment('{{comment.id}}');">삭제</a>
                                    {{/auth}}
                                    {{^auth}}
                                    <a class="my_ml_sm_1" href="">공감</a>
                                    <a class="my_ml_sm_1" href="">쪽지</a>
                                    <a class="my_ml_sm_1" href="">신고</a>
                                    {{/auth}}
                                </div>
                            </div>
                            <div class="my_comment_list_content">{{comment.content}}</div>
                            <div>{{comment.formatCreateDate}}</div>
                        </li>
                        {{/comments}}

                    </ul>
                </div>
                <!-- 댓글 끝 -->


            </div>

            <div>
                <a href="/s/board/{{detailResDto.post.boardNo}}" class="my_post_list_btn">
                    <i class="fa-solid fa-bars"></i>
                    <span>글 목록</span>
                </a>
            </div>
        </div>
    </div>

    <!-- 오른쪽 메뉴 시작 -->
    <div class="my_rightside">
        <div class="search">
            <form class="search_form mb_5" action="#">
                <input class="search_text" type="text" placeholder="전체 게시판의 글을 검색하세요!">
            </form>
        </div>

        <div class="box_rightside">
            <div class="rightside_title_box">
                <h3 class="color_secondary rightside_title">실시간 인기 글</h3>
            </div>

            {{#hotPosts}}
            <a class="box_popular_list column color_secondary" href="/s/post/{{id}}">
                <div class="popular_title mv_5 ">{{title}}</div>
                <div class="popular_content">{{{content}}}</div>
                <div class="popular_status">
                    <time>{{formatCreateDate}}</time>
                    <div class="status">
                        <li class="vote active">{{likeCount}}</li>
                        <li class="comment active">{{commentCount}}</li>
                    </div>
                </div>
            </a>
            {{/hotPosts}}

        </div>
    </div>
    <!-- 오른쪽 메뉴 끝 -->
</div>

<script src="/js/detail.js"></script>

<script>
    $("#header_menu_board").addClass("my_text_active_bold");
</script>

<script>

    let postId = $("#postId").val();

    // 글 수정
    $("#btn-update").click(() => {
        location.href = `/s/post/${postId}/update-form`;
    });

    // 댓글 익명 체크 이벤트
    $("#anony").click(() => {

        $("#anony").toggleClass("my_btn_active");

        if ($("#anony").hasClass("my_btn_active") == true) {
            $("#anony-text").val("true");
            console.log($("#anony-text").val());
        } else {
            $("#anony-text").val("false");
            console.log($("#anony-text").val());
        }
    });

    console.log($("#ddd").val());

    // 댓글 삭제
    async function deleteComment(commentId) {
        let response = await fetch(`/s/api/comment/${commentId}`, {
            method: "DELETE"
        });
        let responseParse = await response.json();
        if (responseParse == 1) {
            alert("삭제 성공");
            location.reload(); // 페이지 새로고침 ajax + ssr
        } else {
            alert("삭제 실패");
        }
    }
</script>


{{> /layout/footer}}