{{> /layout/header}}
{{> /layout/subMenu}}

<div class="my_main_body">
    <div class="container mv_25">

        <!-- 왼쪽 메뉴 시작 -->
        <div class="leftside">
            <div class="box_profile color_secondary mb_5">
                <img class="img_profile" src="/images/profileImg.png" alt="">
                <div class="nickname">닉네임</div>
                <div class="name">이름</div>
                <div class="name">username</div>
                <div class="btns mt_15">
                    <a class="btn_profile btn_myinfo" href="">내 정보</a>
                    <a class="btn_profile btn_logout" href="">로그아웃</a>
                </div>
            </div>
            <div class="box_small color_secondary mb_5">
                <div class="box_small_list"><a class="myarticle" href="">내가 쓴
                        글</a>
                </div>
                <div class="box_small_list"><a class="mycommentarticle" href="">댓글 단
                        글</a></div>
                <div class="box_small_list"><a class="myscrap" href="">내
                        스크랩</a></div>
            </div>

        </div>
        <!-- 왼쪽 메뉴 끝 -->

        <!-- 중간 메뉴 시작 -->
        <div class="main">

            <!-- 게시판 시작 -->
            <div class="box_board mb_5">
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">자유게시판</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                    </div>
                </div>
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">비밀게시판</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_content">
                                <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                <time>04/08 13:29</time>
                                <ul class="status">
                                    <li class="vote active">3</li>
                                    <li class="comment active">4</li>
                                </ul>
                            </div>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_content">
                                <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                <time>04/08 13:29</time>
                                <ul class="status">
                                    <li class="vote active">3</li>
                                    <li class="comment active">4</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box_board mb_5">
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">졸업생게시판</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_content">
                                <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                <time>04/08 13:29</time>
                                <ul class="status">
                                    <li class="vote active">3</li>
                                    <li class="comment active">4</li>
                                </ul>
                            </div>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_content">
                                <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                <time>04/08 13:29</time>
                                <ul class="status">
                                    <li class="vote active">3</li>
                                    <li class="comment active">4</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">새내기게시판</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_content">
                                <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ 21세기 먼나라 이웃나라 이탈리아 만화로 보는 조선 왕조 500년
                                </p>

                                <time>04/08 13:29</time>
                                <ul class="status">
                                    <li class="vote active">3</li>
                                    <li class="comment active">4</li>
                                </ul>
                            </div>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_content">
                                <p class="board_p">고전읽기와 토론 ㅎㅅㅂ 교수님 수업 듣는분? ㅠㅠ </p>

                                <time>04/08 13:29</time>
                                <ul class="status">
                                    <li class="vote active">3</li>
                                    <li class="comment active">4</li>
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box_board mb_5">
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">시사·이슈</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                    </div>
                </div>
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">취업·진로</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box_board mb_5">
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">홍보게시판</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                    </div>
                </div>
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">동아리·학회</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box_board mb_5">
                <div class="board">
                    <div class="board_flex">
                        <div>
                            <h3><a class="board_title" href="">장터게시판</a></h3>
                        </div>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                        <a class="board_list" href="">
                            <div class="board_article">게임 하고 싶어 게임 하고 싶어 게임 하고 싶어</div>
                            <time class="board_time">3분 전</time>
                        </a>
                    </div>
                </div>
            </div>
            <!-- 게시판 끝 -->
        </div>
        <!-- 중간 메뉴 끝 -->
        <!-- 오른쪽 메뉴 시작 -->
        <div class="rightside">
            <div class="search">
                <form class="search_form mb_5" action="#">
                    <input class="search_text" type="text" placeholder="전체 게시판의 글을 검색하세요!">
                </form>
            </div>
            <div class="box_rightside">
                <div class="rightside_title_box">
                    <h3 class="color_secondary rightside_title">실시간 인기 글</h3>
                </div>
                <a class="box_popular_list column color_secondary" href="">
                    <div class="popular_title mv_5 ">밖에서 노래 소리가 들린다. 광고 트럭이 지나가는건가? 이 소리는 무슨 소리일까</div>
                    <div class="popular_content">왜일까? 나도 모르는 사이에 벌써 야구 시즌이 온건가? 날씨가 참 좋구나.</div>
                    <div class="popular_status">
                        <time>자유게시판</time>
                        <div class="status">
                            <li class="vote active">3</li>
                            <li class="comment active">4</li>
                        </div>
                    </div>
                </a>
                <a class="box_popular_list column color_secondary " href="">
                    <div class="popular_title mv_5">밖에서 노래 소리가 들린다. 광고 트럭이 지나가는건가? 이 소리는 무슨 소리일까</div>
                    <div class="popular_content">왜일까? 나도 모르는 사이에 벌써 야구 시즌이 온건가? 날씨가 참 좋구나. </div>
                    <div class="popular_status">
                        <time>자유게시판</time>
                        <div class="status">
                            <li class="vote active">3</li>
                            <li class="comment active">4</li>
                        </div>
                    </div>
                </a>
            </div>

            <div class="box_rightside">
                <div class="rightside_title_box">
                    <h3 class="color_secondary rightside_title">HOT 게시물</h3>
                </div>
                <a class="box_hot_list color_secondary" href="">
                    <div class="hot_content">프랭클린 자서전 나의 라임오렌지 나무 악마와 미스 프랭 선택 말테의 수기</div>
                    <time class="hot_time">04/03 17:52</time>
                </a>
                <a class="box_hot_list color_secondary" href="">
                    <div class="hot_content">프랭클린 자서전 나의 라임오렌지 나무 악마와 미스 프랭 선택 말테의 수기</div>
                    <time class="hot_time">10분 전</time>
                </a>
                <a class="box_hot_list color_secondary" href="">
                    <div class="hot_content">프랭클린 자서전 나의 라임오렌지 나무 악마와 미스 프랭 선택 말테의 수기</div>
                    <time class="hot_time">04/03 17:52</time>
                </a>
                <a class="box_hot_list color_secondary" href="">
                    <div class="hot_content">프랭클린 자서전 나의 라임오렌지 나무 악마와 미스 프랭 선택 말테의 수기</div>
                    <time class="hot_time">04/03 17:52</time>
                </a>

            </div>
        </div>
        <!-- 오른쪽 메뉴 끝 -->
    </div>
</div>


{{> /layout/footer}}