{{> /layout/header}}

<div class="my_find_container my_info_box">
    <div class="my_find_box my_update_form">
        <h1 class="my_update_title">회원 탈퇴</h1>

        <div>
            <form>
                <div class="my_update_section">
                    <div>
                        <label>계정 비밀번호</label>
                    </div>
                    <input id="password" class="my_form_input mb-1" type="password" placeholder="계정 비밀번호">
                </div>

                <div class="description">
                    <p>※ 탈퇴 및 가입을 반복할 경우, 서비스 악용 방지를 위해 재가입이 제한됩니다. 최초 탈퇴 시에는 가입 시점을 기준으로 1일간 제한되며, 2회 이상 탈퇴를 반복할 경우
                        30일간 제한됩니다.</p>
                    <br>
                    <p>※ 탈퇴 후 개인 정보, 시간표 등의 데이터가 삭제되며, 복구할 수 없습니다.</p>
                    <p>※ 다시 가입하여도, 게시판 등 이용 제한 기록은 초기화되지 않습니다.</p>
                    <p>※ 작성한 게시물은 삭제되지 않으며, (알수없음)으로 닉네임이 표시됩니다.</p>
                    <p class="mb-4">※ 자세한 내용은 개인정보처리방침을 확인해주세요.</p>
                </div>

                <input id="btn-delete" class="btn_findUsername" type="button" value="회원 탈퇴">
                <input id="userId" type="hidden" value="{{principal.id}}">
            </form>

        </div>
    </div>
</div>

<script>
    $("#my_menu_board").removeClass("my_menu_active");
</script>

<script>
    $("#btn-delete").click(() => {
        checkPassword();
    });

    let id = $("#userId").val();

    async function checkPassword() {

        let deleteDto = {
            password: $("#password").val()
        }

        let response = await fetch("/s/user/password-check", {
            method: "POST",
            body: JSON.stringify(deleteDto),
            headers: {
                "Content-Type": "application/json; charset=utf-8"
            }
        });
        let responseParse = await response.json();

        if (responseParse == 1) {
            deleteById();
        } else {
            alert("비밀번호가 일치하지 않습니다.");
        }
    }

    async function deleteById() {
        let response = await fetch(`/s/user/${id}/delete-account`, {
            method: "DELETE"
        })

        let responseParse = await response.json();
        console.log("탈퇴됐니? " + responseParse);

        if (responseParse == 1) {
            alert("탈퇴되었습니다.");
            location.href = "/";
        } else {
            alert("탈퇴 실패하였습니다.");
        }
    }
</script>

{{> /layout/footer}}