<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 - 에브리타임</title>
    <link rel="stylesheet" href="/css/style.css">

    <style>
        form {
            padding: 24px;
            display: block;
        }
    </style>
</head>

<body>
    <div class="my_find_container">
        <div class="my_find_box">
            <div class="my_find_menu">
                <a href="/forgot"><span class="my_find_non_active">아이디 찾기</span></a>
                <a href="/forgot/password"><span class="my_find_active">비밀번호 찾기</span></a>
            </div>

            <div>
                <form action="#">
                    <input class="my_form_input" type="text" placeholder="가입된 아이디">
                    <input class="btn_findUsername" type="submit" value="비밀번호 찾기">
                </form>

            </div>
        </div>
    </div>
</body>

</html>