{{> /layout/header}}
{{> /layout/subMenu}}

<div class="my_post_detail_flex_center my_m_md_2">

    <div class="my_list_board_box">

        <div class="my_post_border my_p_md_1">
            <div class="my_board_title">내가 쓴 글</div>
        </div>

        <div id="post-box" class="clubboard">

            {{#posts}}
            <a href="/s/post/{{id}}" class="card my_post_list_box">
                <div class="clubbody">
                    <div class="boardtitle">{{title}}</div>
                    <div class="boardcontent">{{content}}</div>
                    <div class="boardbottom">
                        <div class="bottom">
                            <time>{{formatCreateDate}}</time>
                            {{#anonyCheck}}
                            <div class="secret">익명</div>
                            {{/anonyCheck}}
                            {{^anonyCheck}}
                            <div class="secret">{{user.username}}</div>
                            {{/anonyCheck}}

                        </div>
                        <div class="vote_comment">
                            <div class="clubvote">
                                <li class="vote active">{{likeCount}}</li>
                            </div>
                            <div class="clubcomment">
                                <li class="comment active">{{commentCount}}</li>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{/posts}}

        </div>
    </div>

    <!-- 오른쪽 메뉴 시작 -->
    <div class="my_rightside">
        <div class="search">
            <form class="search_form mb_5" action="#">
                <input class="search_text" type="text" placeholder="전체 게시판의 글을 검색하세요!">
            </form>
        </div>

        <div class="box_rightside">
            <div class="rightside_title_box">
                <h3 class="color_secondary rightside_title">실시간 인기 글</h3>
            </div>

            {{#hotPosts}}
            <a class="box_popular_list column color_secondary" href="/s/post/{{id}}">
                <div class="popular_title mv_5 ">{{title}}</div>
                <div class="popular_content">{{content}}</div>
                <div class="popular_status">
                    <time>{{formatCreateDate}}</time>
                    <div class="status">
                        <li class="vote active">{{likeCount}}</li>
                        <li class="comment active">{{commentCount}}</li>
                    </div>
                </div>
            </a>
            {{/hotPosts}}

        </div>
    </div>
    <!-- 오른쪽 메뉴 끝 -->
</div>

<script src="/js/board.js"></script>

<script>
    $("#freeBoard").removeClass("my_text_active_bold");
    $("#header_menu_board").removeClass("my_text_active_bold");
    $("#my_menu_board").removeClass("my_menu_active");
</script>

{{> /layout/footer}}