{{> /layout/header}}
{{> /layout/subMenu}}

<div class="my_post_detail_flex_center my_m_md_2">

    <div class="my_list_board_box">

        <div class="my_post_border my_p_md_1">
            <div class="my_board_title">내 스크랩</div>
        </div>

        <div id="post-box" class="clubboard">

            {{#scraps}}
            <a href="/s/post/{{post.id}}" class="card my_post_list_box">
                <div class="clubbody my_p_md_2">
                    <div class="boardtitle my_mb_sm_2">{{post.title}}</div>
                    <div class="boardcontent my_mb_sm_2">{{post.content}}</div>
                    <div class="boardbottom">
                        <div class="bottom">
                            <time>{{post.formatCreateDate}}</time>
                            <input id="boardNo" type="hidden" value="{{post.boardNo}}">
                            <div id="board-title" class="secret"></div>
                        </div>
                        <div class="vote_comment">
                            <div class="clubvote">
                                <li class="vote active">{{post.likeCount}}</li>
                            </div>
                            <div class="clubcomment">
                                <li class="comment active">{{post.commentCount}}</li>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            {{/scraps}}
        </div>

        <div>
            <div id="li-prev" class="my_hidden">
                <button id="btn-prev" class="my_btn_paging_prev">
                    <i class="fa-solid fa-chevron-left"></i><span class="my_mr_sm_1">이전</span>
                </button>
            </div>

            <!-- <div class="li-next">
                <button id="btn-next" class="my_btn_paging_next">
                    <span class="my_mr_sm_1">다음</span><i class="fa-solid fa-angle-right"></i>
                </button>
            </div> -->
        </div>

    </div>

    <!-- 오른쪽 메뉴 시작 -->
    <div class="my_rightside">
        <div class="search">
            <form class="search_form mb_5" action="#">
                <input class="search_text" type="text" placeholder="전체 게시판의 글을 검색하세요!">
            </form>
        </div>

        <div class="box_rightside">
            <div class="rightside_title_box">
                <h3 class="color_secondary rightside_title">실시간 인기 글</h3>
            </div>

            {{#hotPosts}}
            <a class="box_popular_list column color_secondary" href="/s/post/{{id}}">
                <div class="popular_title mv_5 ">{{title}}</div>
                <div class="popular_content">{{content}}</div>
                <div class="popular_status">
                    <time>{{formatCreateDate}}</time>
                    <div class="status">
                        <li class="vote active">{{likeCount}}</li>
                        <li class="comment active">{{commentCount}}</li>
                    </div>
                </div>
            </a>
            {{/hotPosts}}

        </div>
    </div>
    <!-- 오른쪽 메뉴 끝 -->
</div>


<script>
    $("#my_menu_board").removeClass("my_menu_active");
</script>

<script>

    let boardNo = $("#boardNo").val();
    boardNoCheck();
    function boardNoCheck() {
        console.log(boardNo);
        if (boardNo == 1) {
            $("#board-title").text("자유게시판");
        } else if (boardNo == 2) {
            $("#board-title").text("비밀게시판");
        } else if (boardNo == 3) {
            $("#board-title").text("졸업생게시판");
        } else if (boardNo == 4) {
            $("#board-title").text("새내기게시판");
        } else if (boardNo == 5) {
            $("#board-title").text("시사·이슈");
        } else if (boardNo == 6) {
            $("#board-title").text("장터게시판");
        } else if (boardNo == 7) {
            $("#board-title").text("홍보게시판");
        } else if (boardNo == 8) {
            $("#board-title").text("동아리·학회");
        } else if (boardNo == 9) {
            $("#board-title").text("취업·진로");
        }
    }
    // $("#btn-next").click(() => {
    //     page++;
    //     $("#post-box").empty();
    //     loading();
    // });
    // $("#btn-prev").click(() => {
    //     page--;
    //     $("#post-box").empty();
    //     loading();
    // });

    // // 페이징 완료!!
    // function pagingDisable(responseParse) {
    //     if (responseParse.data.first == true) {
    //         $("#li-prev").addClass("disabled");
    //         $("#li-next").removeClass("disabled");
    //     } else if (responseParse.data.last == true) {
    //         $("#li-next").addClass("disabled");
    //         $("#li-prev").removeClass("disabled");
    //     }
    // }

    // async function loading() {
    //     let response = await fetch(`/s/api/{userId}/my-scrap?page=${page}`);
    //     let responseParse = await response.json();
    //     if (responseParse.code == 1) {
    //         pagingDisable(responseParse); // 페이징 버튼 활성화 처리
    //         console.log(responseParse);
    //         responseParse.data.content.forEach((post) => {
    //             //console.log(post);
    //             $("#post-box").append(postItemRender(post));
    //         });
    //     } else {
    //         alert("잘못된 요청입니다");
    //     }
    // }


</script>

{{> /layout/footer}}