{{> /layout/header}}

<div class="my_find_container my_info_box">
    <div class="my_find_box my_update_form">
        <h1 class="my_update_title">비밀번호 변경</h1>

        <div>
            <form action="#">
                <div class="my_update_section">
                    <div class="bottom">
                        <label>새 비밀번호</label>
                        <label style="color: #a6a6a6;">영문, 숫자, 특문이 2종류 이상 조합된 8~20자</label>
                    </div>
                    <input class="my_form_input mb-1" type="password" placeholder="새 비밀번호">
                    <input class="my_form_input" type="password" placeholder="새 비밀번호 확인">
                </div>
                <div class="my_update_section">
                    <label>현재 비밀번호</label>
                    <input class="my_form_input" type="password" placeholder="현재 비밀번호">
                </div>

                <div class="description">
                    <p style="font-weight: bold;">※ 혹시 타인에게 계정을 양도하려고 하시나요?</p>
                    <p>에브리타임 이용약관에서는 타인에게 계정 판매, 양도 및 대여 등을 엄격하게 금지하고 있습니다.</p>
                    <p>모니터링 시스템에 의해 계정 양도가 적발될 경우 해당 계정은 영구 정지, 탈퇴 등의 조치가 가해지며, 계정 양도로 인해 사기, 불법 행위가 발생할 경우 관련법에 따라
                        <span>법적 책임을 지게 될 수 있습니다.</span>
                    </p>

                    <p style="font-weight: bold;" class="mt-4">※ 타인에 의한 계정 사용이 의심되시나요?</p>
                    <p>개인정보 보호를 위해 비밀번호를 변경하여 주시기 바랍니다. 비밀번호를 변경하면 <span>모든 디바이스(앱, 브라우저 등)에서 즉시 로그아웃 처리됩니다.</span></p>
                </div>

                <input class="btn_findUsername" type="submit" value="비밀번호 변경">
            </form>

        </div>
    </div>
</div>

{{> /layout/footer}}