* {
    padding: 0px;
    margin: 0px;
    letter-spacing: -0.5px;
    list-style: none;
}

/* header */

.my_hidden {
    display: none;
}

.my_rightside {
    display: flex;
    width: 325px;
    height: 100%;
    flex-direction: column;
    margin-top: 22px;
    margin-left: 10px;
}


.my_navbar {
    border-bottom: 1px solid #d6d6d6;
    justify-content: space-around;
}

.my_navbar_flex {
    display: flex;
    align-items: center;
}

.my_space {
    padding: 0 50px;
}

.my_logo_title {
    font-size: 6px;
    font-weight: bold;
    color: #C62917;
}

.my_logo_school {
    font-size: 23px;
    font-weight: 500;
    color: #444444;
}

.my_nav_menu {
    color: #444444;
    font-size: 16px;
    font-weight: bold;
    display: flex;
}

.my_nav_menu a {
    padding: 0px 5px;
}

.my_nav_menu li {
    height: 80px;
    line-height: 80px;
}

.my_menu_active {
    border-bottom: 4px solid #C62917;
}

.my_header_icon_flex {
    display: flex;
    align-items: center;
}

.my_header_icon_box {
    width: 40px;
    height: 40px;
    border: 1px solid #d6d6d6;
    border-radius: 12px;
    margin: 0px 4px;
}

.my_header_icon_no_auth_login_box {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    padding: 0 12px;
    border: 1px solid #d6d6d6;
    border-radius: 12px;
    margin: 0px 4px;
    text-decoration-line: none;
}

.my_header_icon_no_auth_join_box {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #C62917;
    padding: 0 12px;
    border: 1px solid #d6d6d6;
    border-radius: 12px;
    margin: 0px 4px;
    text-decoration-line: none;
}

.my_header_icon_box img {
    margin: 7px 8px;
}

/* sub menu */

.sub_menu {
    padding-top: 90px;
    height: 280px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
}

.driver {
    display: inline-block;
    width: 1px;
    height: 185px;
    background-color: #d6d6d6;
}

.group {
    display: inline-block;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 130px;
    text-align: left;
    box-sizing: border-box;
}

.group li {
    padding: 2px 0px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.footer div {
    padding-right: 13px;
    font-size: 12px;
}

/* findUsername, findPassword */
.my_find_container {
    margin: 24px auto;
    width: 480px;
}

.my_find_box {
    border: 1px solid #d6d6d6;
    border-radius: 12px;
}

.my_find_menu {
    width: 100%;
    height: 48px;
    background-color: white;
    margin-top: 24px;
    padding-left: 16px;
}

.my_find_menu a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 8px 8px 14px 8px;
}

.my_find_active {
    border-bottom: 2px solid #c62917;
    color: #C62917;
    font-weight: bold;
    display: inline-block;
    line-height: 24px;
    font-size: 16px;
}

.my_find_non_active {
    display: inline-block;
    line-height: 24px;
    color: #a6a6a6;
    font-size: 16px;
}

.my_form_input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 12px;
    color: #444444;
    font-size: 16px;
    background-color: #f9f9f9;
}

.btn_findUsername {
    display: block;
    height: 40px;
    width: 100%;
    border: 0;
    margin-top: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background-color: #C62917;
    border-radius: 12px;
    cursor: pointer;
}

.btn_chooseFile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C62917; 
    width: 120px;
    height: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
}

.btn_chooseFile:hover {
    cursor: pointer;
}


.description {
    margin-top: 24px;
}

.description p {
    margin-bottom: 4px;
    line-height: 18px;
    color: #737373;
    font-size: 12px;
}

/************************/

a {
    text-decoration: none;
    text-decoration-line: none;
    color: #737373;
}

div {
    color: #737373;
    font-size: 12px;
}

a:hover {
    color: #C62917;
    text-decoration-line: none;
}

form {
    padding: 0 24px 24px 24px;
    display: block;
}