.my_sm_font_3 {
    font-size: 6px;
}

.my_sm_font_2 {
    font-size: 12px;
}

.my_sm_font_1 {
    font-size: 14px;
}

.my_md_font_1 {
    font-size: 16px;
}

.my_md_font_2 {
    font-size: 16px;
}

.my_md_font_3 {
    font-size: 18px;
}

.my_lg_font {
    font-size: 23;
}

.my_xl_font {
    font-size: 33;
}