.my_post_btn {
    margin-top: 50px;
}

.write_form {
    padding: 0;
    margin: 5px 0;
    border: 3px solid #d6d6d6;
}

.title_write {
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #d6d6d6;
}

.write {
    padding: 15px;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

.my_write_input {
    display: block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    border: 0;
    color: #444444;
    font-size: 16px;
    font-weight: bold;
}

.my_write_textarea {
    display: block;
    width: 100%;
    height: 350px;
    border: 0;
    color: #444444;
    font-size: 14px;
    resize: none;
}

.my_post_detail_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my_post_detail_flex_space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d6d6d6;
}

.my_comment_buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.tag {
    margin-right: 5px;
    background-image: url("/images/hashtag.png");
    display: inline-block;
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    cursor: pointer;
}

.file {
    margin-right: 5px;
    background-image: url("/images/attach.png");
    display: inline-block;
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    cursor: pointer;
}

.write_anony {
    margin-right: 5px;
    background-image: url("/images/anonym.png");
    display: inline-block;
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    cursor: pointer;
}

.submit {
    background-color: #c62917;
    background-image: url("/images/write.submit.png");
    display: inline-block;
    width: 50px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40px 40px;
    cursor: pointer;
}

.my_hidden {
    display: none;
}

.my_btn_active {
    background-image: url("/images/anonym.active.png");
}

.my_report_content a {
    font-size: 14px;
    color: #444444;
}

.my_report_content a:hover {
    font-weight: bold;
    background-color: transparent;
}

.my_post_search {
    padding: 0 10px 0 0;
    float: left;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    font-size: 14px;
}

.my_btn_paging_prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
    height: 35px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #c62917;
    background-color: white;
    border: 1px solid #c62917;
    border-radius: 5px;
}

.my_btn_paging_next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 10px;
    height: 35px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #c62917;
    background-color: white;
    border: 1px solid #c62917;
    border-radius: 5px;
}

.my_post_list_box {
    border: 0;
    height: 100px;
    padding: 10px;
    border-bottom: 1px solid #d6d6d6;
}