{{> /layout/header}}

<div class="my_pt_xl_2 my_pb_md_1">
    <div class="my_qna_box">
        <h1>커뮤니티 이용규칙</h1>

        <div>
            <h3>커뮤니티 이용규칙 안내</h3>
            <p>에브리타임은 누구나 기분 좋게 참여할 수 있는 커뮤니티를 만들기 위해 커뮤니티 이용규칙을 제정하여 운영하고 있습니다. 모든 이용자는 커뮤니티 이용 전 반드시 커뮤니티 이용규칙의 모든 내용을
                숙지하여야 합니다.</p>
            <p>모든 이용자는 방송통신심의위원회의 정보통신에 관한 심의규정, 현행 법률, 서비스 이용 약관 및 커뮤니티 이용규칙을 위반하거나, 사회 통념 및 관련 법령을 기준으로 타 이용자에게 악영향을
                끼치는
                경우, 게시물이 삭제되고 서비스 이용이 일정 기간 제한될 수 있습니다.</p>
            <p>커뮤니티 이용규칙은 불법 행위, 각종 차별 및 혐오, 사회적 갈등 조장, 타인의 권리 침해, 다른 이용자에게 불쾌감을 주는 행위, 커뮤니티 유출 행위, 시스템 장애를 유발하는 비정상 행위
                등
                커뮤니티 분위기 형성과 운영에 악영향을 미치는 행위들을 제한하기 위해 지속적으로 개정됩니다. 중대한 변경사항이 있는 경우에는 공지사항을 통해 고지하므로 반드시 확인해주시기 바랍니다.
            </p>
            <p>커뮤니티 이용규칙에서 사용된 용어의 정의는 서비스 이용약관을 따릅니다.</p>

            <h3>게시물 작성·수정·삭제 규칙</h3>
            <ol>
                <li>게시물 작성</li>
                <ol>
                    <li>홍보게시판과 동아리·학회 게시판 중 어느 한 곳에 글을 작성했을 경우, 두 게시판 모두 3일동안 글을 작성할 수 없습니다.</li>
                    <li>그 외 게시판은 게시판 별로 5분에 한 번만 작성할 수 있습니다.</li>
                </ol>

                <li>게시물 수정 및 삭제</li>
                <ol>
                    <li>홍보게시판과 동아리·학회 게시판은 글 작성 후 60분이 지나면, 3일간 작성한 글을 수정하거나 삭제할 수 없습니다.</li>
                    <li>강의평, 시험정보, 책방, 대학백과 답변 및 후기는 작성 시 안내에 따라 게시 이후 삭제할 수 없습니다.</li>
                </ol>

                <li>HOT 게시물 선정</li>
                <ol>
                    <li>공감 10개를 받으면 자동으로 선정됩니다.</li>
                    <li>시사·이슈 게시판, 장터게시판, 홍보게시판, 동아리·학회 게시판은 선정되지 않습니다.</li>
                    <li>게시판 관리자가 HOT 게시판 선정 옵션을 끄거나, 이용량이 적어 휴면 상태로 분류된 게시판은 공감 10개를 받더라도 선정되지 않습니다.</li>
                </ol>

                <li>BEST 게시물 선정</li>
                <ol>
                    <li>공감 100개를 받으면 자동으로 선정됩니다.</li>
                </ol>
            </ol>

            <h3>게시판 관리자 제도</h3>
            <ol>
                <li>게시판 관리자는 자신의 게시판에 올라오는 게시물을 공지로 지정하거나 삭제, 경고할 수 있습니다.</li>
                <li>게시판 관리자는 에브리타임 계정을 탈퇴할 수 없습니다. 탈퇴를 위해서는 게시판을 삭제하거나 다른 회원에게 관리자 권한을 양도해야 합니다. 단, 게시판은 개설 후 3일이 지나지
                    않았거나,
                    14일 동안 게시물이 올라오지 않았을 때만 삭제할 수 있습니다.</li>
                <li>다음 목록에 해당하는 경우, 게시판이 숨겨지거나, 폐쇄되거나, 게시판 관리자 권한이 박탈될 수 있습니다.</li>
                <ol>
                    <li>커뮤니티 이용규칙에 어긋나는 주제의 게시판을 생성했을 경우</li>
                    <li>게시판 관리자가 커뮤니티 이용규칙을 어길 경우</li>
                    <li>커뮤니티 이용규칙에 어긋나는 게시물이 삭제되지 않을 경우</li>
                    <li>게시판에 14일 이상 게시물이 올라오지 않을 경우</li>
                    <li>게시판 관리자가 존재하지 않을 경우</li>
                </ol>
            </ol>
        </div>
    </div>
</div>

{{> /layout/footer}}