{{> /layout/header}}


<body class="my_bg_secondary">

    <div class="container my_mt_xl_2 my_mb_md_2">
        <div class="qna_container">
            <div class="qna_menu my_mr_md_3">
                <div class="qna_menu_title my_mb_sm_2 my_bg_primary">문의하기</div>
                <div class="qna_menu_lists">
                    <a class="qna_menu_list my_ph_md_2" href="/qna/main">
                        <div class="my_qna_menu_font my_active">문의하기</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/qna/community-rule">
                        <div class="my_qna_menu_font">커뮤니티이용규칙</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/usageContract">
                        <div class="my_qna_menu_font">개인정보처리방침</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/policy">
                        <div class="my_qna_menu_font">서비스 이용 약관</div>
                    </a>
                </div>
            </div>
            <div class="qna_wrap">
                <a class="qna_wrap_list" href="/qna/account">
                    <div class="my_pl_md_1">
                        <div class="qna_wrap_list_title">내 계정</div>
                        <div class="qna_wrap_list_sub">아이디, 비밀번호, 개인정보, 닉네임, 프로필 이미지, 탈퇴 등</div>
                    </div>
                </a>
                <a class="qna_wrap_list my_border_secondary" href="/qna/school">
                    <div class="my_pl_md_1">
                        <div class="qna_wrap_list_title">학교 인증</div>
                        <div class="qna_wrap_list_sub">합격자 인증, 재학생 인증, 졸업생 인증 등</div>
                    </div>
                </a>
                <a class="qna_wrap_list my_border_secondary" href="/qna/timetable">
                    <div class="my_pl_md_1">
                        <div class="qna_wrap_list_title">시간표</div>
                        <div class="qna_wrap_list_sub">과목 추가/수정, 수강편람, 시간표 공유 및 내보내기, 위젯 등</div>
                    </div>
                </a>
                <a class="qna_wrap_list my_border_secondary" href="/qna/community">
                    <div class="my_pl_md_1">
                        <div class="qna_wrap_list_title">커뮤니티 이용</div>
                        <div class="qna_wrap_list_sub">교내단체 게시판, 게시판 이용, 게시판 관리 등</div>
                    </div>
                </a>
                <a class="qna_wrap_list my_border_secondary" href="/qna/anony">
                    <div class="my_pl_md_1">
                        <div class="qna_wrap_list_title">익명 / 개인정보</div>
                        <div class="qna_wrap_list_sub">공식 게시판, 익명, 커뮤니티 이용 및y 관리 등</div>
                    </div>
                </a>
                <a class="qna_wrap_list my_border_secondary" href="/qna/report">
                    <div class="my_pl_md_1">
                        <div class="qna_wrap_list_title">신고 / 이용제한</div>
                        <div class="qna_wrap_list_sub">AI 커뮤니티 운영 시스템, 게시판 이용제한 등</div>
                    </div>
                </a>
                <a class="qna_wrap_list my_border_secondary" href="/qna/other">
                    <div class="my_pl_md_1">
                        <div class="qna_wrap_list_title">기타</div>
                        <div class="qna_wrap_list_sub">알림, 쪽지, 친구, 강의평가, 학점계산기, 책방, 서비스 이용 오류</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</body>

</html>

{{> /layout/footer}}