{{> /layout/header}}
<style>
    .test {
        display: none;
    }

    .hidden_list {
        display: none;
        background-color: #F2F2F2;
        border-bottom: 1px solid #d6d6d6;
        color: black;
        padding: 15px 20px;
        font-size: 14px;
        flex: 1;
    }

    .hidden_list_end {
        display: none;
        background-color: #F2F2F2;
        border-top: 1px solid #d6d6d6;
        color: black;
        padding: 10px;
        font-size: 14px;
        flex: 1;
    }

    .font_color_red {
        color: #c62917;
        font-weight: bold;
    }

    .qna_account_list {
        flex: 1;
        display: flex;
        align-items: center;
        background-image: url("/images/faqIcon.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
        text-decoration: none;
        height: 50px;
        border-bottom: 1px solid #d6d6d6;
        padding-left: 19px;
    }

    .qna_account_list_end {
        flex: 1;
        display: flex;
        align-items: center;
        background-image: url("/images/faqIcon.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
        text-decoration: none;
        height: 50px;
        padding-left: 19px;
    }

    .qna_account_wrap_list {
        font-size: 14px;
        flex: 1;
        display: flex;
    }

    .qna_account_list_end {
        flex: 1;
        display: flex;
        align-items: center;
        background-image: url("/images/faqIcon.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
        text-decoration: none;
        height: 50px;
        padding-left: 19px;
    }

    .qna_account_list:hover {
        background-color: #f8f8f8;
    }

    .qna_account_list_end:hover {
        background-color: #f8f8f8;
    }

    .qna_account_wrap {
        width: 780px;
        background-color: white;
        border: 1px solid #e3e3e3;
    }

    .qna_title {
        font-weight: bold;
        color: #292929;
        font-size: 15px;
        margin-left: 15px;
    }

    .qna_title2 {
        font-weight: bold;
        color: #292929;
        font-size: 15px;
        margin-left: 15px;
        padding-top: 30px;
    }
</style>


<body class="my_bg_secondary">
    <div class="container my_mt_xl_2 my_mb_md_2">
        <div class="qna_container">
            <div class="qna_menu my_mr_md_3">
                <div class="qna_menu_title my_mb_sm_2 my_bg_primary">문의하기</div>
                <div class="qna_menu_lists">
                    <a class="qna_menu_list my_ph_md_2" href="/qna/main">
                        <div class="my_qna_menu_font my_active">문의하기</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/qna/community-rule">
                        <div class="my_qna_menu_font">커뮤니티이용규칙</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/usageContract">
                        <div class="my_qna_menu_font">개인정보처리방침</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/policy">
                        <div class="my_qna_menu_font">서비스 이용 약관</div>
                    </a>
                </div>
            </div>


            <div>
                <h3 class="qna_title">AI 커뮤니티 운영 시스템</h3>
                <div class="qna_account_wrap">
                    <div class="qna_account_wrap_list">
                        <a id="color-change1" class="qna_account_list" href="javascript:doDisplay1(); ">
                            신고는 어떤 기능인가요? </a>
                    </div>


                    <div id="myDIV1" class="hidden_list" style="display: none;">
                        신고는 커뮤니티 이용규칙에 어긋나는 욕설, 광고 등의 부적절한 게시물을 신고할 수 있는 기능입니다. 신고를 받은 게시물은 다른 신고 내역과 과거의 신고 처리 결과에 대한
                        빅데이터를 기반으로, 현행 법률이나 서비스 이용약관 및 커뮤니티 이용규칙을 위반한 행위에 대하여, 정해진 기준에 따라 게시물 삭제, 최대 5년 이내의 게시물 작성 및 서비스
                        이용 제한 등의 조치를 취하고 있습니다.

                    </div>



                    <div class="qna_account_wrap_list">
                        <a id="color-change2" class="qna_account_list" href="javascript:doDisplay2();">대학교
                            신고를 잘못 눌렀는데 취소는 어떻게 하나요?</a>
                    </div>


                    <div id="myDIV2" class="hidden_list" style="display: none;">
                        게시물을 신고한 이후에는 취소할 수 없으므로 신중하게 신고 기능을 이용해주시기 바랍니다.</div>



                    <div class="qna_account_wrap_list">
                        <a id="color-change3" class="qna_account_list" href="javascript:doDisplay3();">
                            문제가 있는 게시물에 신고를 눌렀는데 왜 지워지지 않나요?</a>
                    </div>


                    <div id="myDIV3" class="hidden_list" style="display: none;">

                        신고는 커뮤니티 이용규칙에 어긋나는 욕설, 광고 등의 부적절한 게시물을 신고할 수 있는 기능입니다. 신고를 받은 게시물은 다른 신고 내역과 과거의 신고 처리 결과에 대한
                        빅데이터를 기반으로, 현행 법률이나 서비스 이용약관 및 커뮤니티 이용규칙을 위반한 행위에 대하여, 정해진 기준에 따라 게시물 삭제, 최대 5년 이내의 게시물 작성 및 서비스
                        이용 제한 등의 조치를 취하고 있습니다. 위 기준에 부합하지 않는 게시물은 조치되지 않을 수 있습니다.
                    </div>


                    <div class="qna_account_wrap_list">
                        <a id="color-change4" class="qna_account_list" href="javascript:doDisplay4();">아이디를 다수 생성해 신고를
                            악용하는 이용자가 있어요.</a>
                    </div>

                    <div id="myDIV4" class="hidden_list" style="display: none;">

                        아이디를 다수 생성하거나 매크로 등 기술적인 장치를 통해 여러 아이디의 인증을 번갈아가면서 신고를 하였을 경우, 해당 신고는 처리되지 않습니다. 또한 신고 제도를 악용한
                        이용자는 제재가 가해질 수 있습니다.
                    </div>


                    <div class="qna_account_wrap_list">
                        <a id="color-change5" class="qna_account_list_end" href="javascript:doDisplay5();">
                            불쾌한 게시판을 없애주세요.</a>
                    </div>

                    <div id="myDIV5" class="hidden_list_end" style="display: none;">

                        커뮤니티 이용규칙에 어긋나는 게시판을 발견하셨을 경우, 해당 게시판의 게시물을 신고해주시기 바랍니다.

                    </div>
                </div>



                <div>
                    <h3 class="qna_title2">서비스 이용 제한</h3>
                    <div class="qna_account_wrap">
                        <div class="qna_account_wrap_list">
                            <a id="color-change6" class="qna_account_list" href="javascript:doDisplay6();">
                                게시판에 들어가니 접근이 제한되었다고 나와요.</a>
                        </div>

                        <div id="myDIV6" class="hidden_list" style="display: none;">

                            에브리타임은 누구나 기분 좋게 참여할 수 있는 커뮤니티를 만들기 위해 커뮤니티 이용규칙을 제정하여 운영하고 있습니다. 모든 이용자는 커뮤니티 이용 전 반드시
                            커뮤니티
                            이용규칙의 모든 내용을 숙지하여야 합니다.

                            모든 이용자는 방송통신심의위원회의 정보통신에 관한 심의규정, 현행 법률, 서비스 이용 약관 및 커뮤니티 이용규칙을 위반하거나, 사회 통념 및 관련 법령을
                            기준으로 타
                            이용자에게 악영향을 끼치는 경우, 게시물이 삭제되고 서비스 이용이 일정 기간 제한될 수 있습니다.

                            자세한 사항은 커뮤니티 이용규칙을 참고하시기 바랍니다.</div>


                        <div class="qna_account_wrap_list">
                            <a id="color-change7" class="qna_account_list" href="javascript:doDisplay7();">
                                게시판에서 글쓰기 버튼과 댓글 입력창이 뜨지 않아요.</a>
                        </div>

                        <div id="myDIV7" class="hidden_list" style="display: none;">

                            에브리타임은 누구나 기분 좋게 참여할 수 있는 커뮤니티를 만들기 위해 커뮤니티 이용규칙을 제정하여 운영하고 있습니다. 모든 이용자는 커뮤니티 이용 전 반드시
                            커뮤니티
                            이용규칙의 모든 내용을 숙지하여야 합니다.

                            모든 이용자는 방송통신심의위원회의 정보통신에 관한 심의규정, 현행 법률, 서비스 이용 약관 및 커뮤니티 이용규칙을 위반하거나, 사회 통념 및 관련 법령을
                            기준으로 타
                            이용자에게 악영향을 끼치는 경우, 게시물이 삭제되고 서비스 이용이 일정 기간 제한될 수 있습니다.

                            자세한 사항은 커뮤니티 이용규칙을 참고하시기 바랍니다.

                        </div>

                        <div class="qna_account_wrap_list">
                            <a id="color-change8" class="qna_account_list_end" href="javascript:doDisplay8();">이용 제한은 언제
                                풀리나요?</a>
                        </div>

                        <div id="myDIV8" class="hidden_list_end" style="display: none;">

                            홈 탭 우측 상단의 [내 정보] > [이용 제한 내역]에서 내역을 확인할 수 있습니다. 이용 제한은 기간이 종료된 후 다음날 해제됩니다.
                        </div>
                    </div>
                    <div>
                        <h3 class="qna_title2">게시 중단</h3>
                        <div class="qna_account_wrap">
                            <div class="qna_account_wrap_list">
                                <a id="color-change9" class="qna_account_list" href="javascript:doDisplay9();">
                                    타인이 적은 게시물을 삭제하고 싶어요.</a>
                            </div>

                            <div id="myDIV9" class="hidden_list" style="display: none;">
                                모든 신고는 AI 커뮤니티 운영 시스템에 의해 처리되며, 이용자의 요청에 따라 임의로 게시물을 삭제하지 않습니다. 커뮤니티 이용규칙에 어긋나는 게시물이
                                있다면, 신고 버튼을 눌러 신고해주시기 바랍니다.</div>


                            <div class="qna_account_wrap_list">
                                <a id="color-change10" class="qna_account_list" href="javascript:doDisplay10();">
                                    제 개인정보가 적혀있는 게시물을 삭제하고 싶어요.</a>
                            </div>

                            <div id="myDIV10" class="hidden_list" style="display: none;">

                                에브리타임은 정보통신망 이용촉진 등 정보보호 등에 관한 법률에 의거하여, 정보통신망을 통하여 일반에게 공개를 목적으로 제공된 정보로 사생활 침해나 명예훼손 등
                                타인의 권리가 침해된 경우 그 정보의 삭제 또는 반박내용의 게재에 대한 게시 중단 요청을 받고 있습니다. 특정 게시물의 게시 중단을 원하신다면
                                권리침해신고센터을 통해 게시중단을 요청해주시기 바랍니다.

                            </div>

                            <div class="qna_account_wrap_list">
                                <a id="color-change11" class="qna_account_list_end" href="javascript:doDisplay11();">이용
                                    명예훼손, 저작권 침해, 기타 권리 침해의 소지가 있는 게시물을 삭제하고 싶어요.</a>
                            </div>

                            <div id="myDIV11" class="hidden_list_end" style="display: none;">

                                에브리타임은 정보통신망 이용촉진 등 정보보호 등에 관한 법률에 의거하여, 정보통신망을 통하여 일반에게 공개를 목적으로 제공된 정보로 사생활 침해나 명예훼손 등
                                타인의 권리가 침해된 경우 그 정보의 삭제 또는 반박내용의 게재에 대한 게시 중단 요청을 받고 있습니다. 특정 게시물의 게시 중단을 원하신다면
                                권리침해신고센터을 통해 게시중단을 요청해주시기 바랍니다.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</body>
<script>
    function doDisplay1() {
        let num = 1;
        var con1 = document.getElementById("myDIV1");
        if (con1.style.display == 'none') {
            con1.style.display = 'block';
            autoClose(num);
        } else {
            con1.style.display = 'none';
            $("#color-change1").removeClass("font_color_red");
        }
    }
    function doDisplay2() {
        let num = 2;
        var con2 = document.getElementById("myDIV2");
        if (con2.style.display == 'none') {
            con2.style.display = 'block';
            autoClose(num);
        } else {
            con2.style.display = 'none';
            $("#color-change2").removeClass("font_color_red");
        }
    }
    function doDisplay3() {
        let num = 3;
        var con3 = document.getElementById("myDIV3");
        if (con3.style.display == 'none') {
            con3.style.display = 'block';
            autoClose(num);
        } else {
            con3.style.display = 'none';
            $("#color-change3").removeClass("font_color_red");
        }
    }
    function doDisplay4() {
        let num = 4;
        var con4 = document.getElementById("myDIV4");
        if (con4.style.display == 'none') {
            con4.style.display = 'block';
            autoClose(num);
        } else {
            con4.style.display = 'none';
            $("#color-change4").removeClass("font_color_red");
        }
    }
    function doDisplay5() {
        let num = 5;
        var con5 = document.getElementById("myDIV5");
        if (con5.style.display == 'none') {
            con5.style.display = 'block';
            autoClose(num);
        } else {
            con5.style.display = 'none';
            $("#color-change5").removeClass("font_color_red");
        }
    }
    function doDisplay6() {
        let num = 6;
        var con6 = document.getElementById("myDIV6");
        if (con6.style.display == 'none') {
            con6.style.display = 'block';
            autoClose(num);
        } else {
            con6.style.display = 'none';
            $("#color-change6").removeClass("font_color_red");
        }
    }
    function doDisplay7() {
        let num = 7;
        var con7 = document.getElementById("myDIV7");
        if (con7.style.display == 'none') {
            con7.style.display = 'block';
            autoClose(num);
        } else {
            con7.style.display = 'none';
            $("#color-change7").removeClass("font_color_red");
        }
    }
    function doDisplay8() {
        let num = 8;
        var con8 = document.getElementById("myDIV8");
        if (con8.style.display == 'none') {
            con8.style.display = 'block';
            autoClose(num);
        } else {
            con8.style.display = 'none';
            $("#color-change8").removeClass("font_color_red");
        }
    }
    function doDisplay9() {
        let num = 9;
        var con9 = document.getElementById("myDIV9");
        if (con9.style.display == 'none') {
            con9.style.display = 'block';
            autoClose(num);
        } else {
            con9.style.display = 'none';
            $("#color-change9").removeClass("font_color_red");
        }
    }
    function doDisplay10() {
        let num = 10;
        var con10 = document.getElementById("myDIV10");
        if (con10.style.display == 'none') {
            con10.style.display = 'block';
            autoClose(num);
        } else {
            con10.style.display = 'none';
            $("#color-change10").removeClass("font_color_red");
        }
    }
    function doDisplay11() {
        let num = 11;
        var con11 = document.getElementById("myDIV11");
        if (con11.style.display == 'none') {
            con11.style.display = 'block';
            autoClose(num);
        } else {
            con11.style.display = 'none';
            $("#color-change3").removeClass("font_color_red");
        }
    }
    function autoClose(num) {
        var con1 = document.getElementById("myDIV1");
        var con2 = document.getElementById("myDIV2");
        var con3 = document.getElementById("myDIV3");
        var con4 = document.getElementById("myDIV4");
        var con5 = document.getElementById("myDIV5");
        var con6 = document.getElementById("myDIV6");
        var con7 = document.getElementById("myDIV7");
        var con8 = document.getElementById("myDIV8");
        var con9 = document.getElementById("myDIV9");
        var con10 = document.getElementById("myDIV10");
        var con11 = document.getElementById("myDIV11");
        if (num == 1) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change1").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 2) {
            con1.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change2").addClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 3) {
            con2.style.display = 'none';
            con1.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change3").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 4) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con1.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change4").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 5) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con1.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change5").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 6) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con1.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change6").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 7) {
            con1.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con2.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change7").addClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 8) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con1.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change8").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 9) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con1.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change9").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 10) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con1.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change10").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 11) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con1.style.display = 'none';
            con10.style.display = 'none';
            $("#color-change11").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
        }
    }
</script>

</html>
{{> /layout/footer}}