{{> /layout/header}}
<style>
    .test {
        display: none;
    }

    .hidden_list {
        display: none;
        background-color: #F2F2F2;
        border-bottom: 1px solid #d6d6d6;
        color: black;
        padding: 15px 20px;
        font-size: 14px;
        flex: 1;
    }

    .hidden_list_end {
        display: none;
        background-color: #F2F2F2;
        border-top: 1px solid #d6d6d6;
        color: black;
        padding: 10px;
        font-size: 14px;
        flex: 1;
    }

    .font_color_red {
        color: #c62917;
        font-weight: bold;
    }

    .qna_account_list {
        flex: 1;
        display: flex;
        align-items: center;
        background-image: url("/images/faqIcon.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
        text-decoration: none;
        height: 50px;
        border-bottom: 1px solid #d6d6d6;
        padding-left: 19px;
    }

    .qna_account_list_end {
        flex: 1;
        display: flex;
        align-items: center;
        background-image: url("/images/faqIcon.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
        text-decoration: none;
        height: 50px;
        padding-left: 19px;
    }

    .qna_account_wrap_list {
        font-size: 14px;
        flex: 1;
        display: flex;
    }

    .qna_account_list_end {
        flex: 1;
        display: flex;
        align-items: center;
        background-image: url("/images/faqIcon.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
        text-decoration: none;
        height: 50px;
        padding-left: 19px;
    }

    .qna_account_list:hover {
        background-color: #f8f8f8;
    }

    .qna_account_list_end:hover {
        background-color: #f8f8f8;
    }

    .qna_account_wrap {
        width: 780px;
        background-color: white;
        border: 1px solid #e3e3e3;
    }

    .qna_title {
        font-weight: bold;
        color: #292929;
        font-size: 15px;
        margin-left: 15px;
    }

    .qna_title2 {
        font-weight: bold;
        color: #292929;
        font-size: 15px;
        margin-left: 15px;
        padding-top: 30px;
    }
</style>


<body class="my_bg_secondary">
    <div class="container my_mt_xl_2 my_mb_md_2">
        <div class="qna_container">
            <div class="qna_menu my_mr_md_3">
                <div class="qna_menu_title my_mb_sm_2 my_bg_primary">문의하기</div>
                <div class="qna_menu_lists">
                    <a class="qna_menu_list my_ph_md_2" href="/qna/main">
                        <div class="my_qna_menu_font my_active">문의하기</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/qna/community-rule">
                        <div class="my_qna_menu_font">커뮤니티이용규칙</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/usageContract">
                        <div class="my_qna_menu_font">개인정보처리방침</div>
                    </a>
                    <a class="qna_menu_list my_ph_md_2" href="/policy">
                        <div class="my_qna_menu_font">서비스 이용 약관</div>
                    </a>
                </div>
            </div>


            <div>
                <h3 class="qna_title">공통</h3>
                <div class="qna_account_wrap">
                    <div class="qna_account_wrap_list">
                        <a id="color-change1" class="qna_account_list" href="javascript:doDisplay1(); ">
                            학부생이 아니면 인증을 할 수 없나요? </a>
                    </div>


                    <div id="myDIV1" class="hidden_list" style="display: none;">
                        학부 재학생 및 졸업생에 한해 가능합니다. 대학원생, 학점교류생, 교환학생, 교직원, 조교, 평생교육원, 학점은행제 등은 인증이 불가능합니다.

                    </div>



                    <div class="qna_account_wrap_list">
                        <a id="color-change2" class="qna_account_list" href="javascript:doDisplay2();">대학교
                            인증에 실패했는데 이유가 무엇인가요?</a>
                    </div>


                    <div id="myDIV2" class="hidden_list" style="display: none;">
                        인증 실패 시 알림을 통해 상세 사유를 안내해 드립니다. 에브리타임 앱의 알림 탭에 접속하여, 인증 실패 관련 알림에서 [자세히] 버튼을 눌러 확인하실 수 있습니다.

                        [학교 인증] 페이지에 명시된 내용에 적합하지 않은 경우에 해당하므로, 안내 사항, 요구하는 자료, 약관 등의 내용을 정확하게 읽어보신 뒤, 다시 인증을 시도해주시기
                        바랍니다.</div>



                    <div class="qna_account_wrap_list">
                        <a id="color-change3" class="qna_account_list" href="javascript:doDisplay3();">아이디를
                            다른 방법으로 인증을 하고 싶어요.</a>
                    </div>


                    <div id="myDIV3" class="hidden_list" style="display: none;">

                        학교별로 검증된 증명 자료를 이용한 하나의 인증 방법을 제공합니다. 학교에 따라 학생증, 웹메일, 포털 아이디, 재학 증명서 등 이용 가능한 인증 수단이 다를 수 있습니다.

                        [학교 인증] 페이지에서 제공하지 않는 다른 방법으로는 인증을 할 수 없습니다.
                    </div>


                    <div class="qna_account_wrap_list">
                        <a id="color-change4" class="qna_account_list" href="javascript:doDisplay4();">문의하기로 자료를 보냈는데
                            인증이 되지 않아요.</a>
                    </div>

                    <div id="myDIV4" class="hidden_list" style="display: none;">

                        문의하기를 통해서는 인증이 처리되지 않습니다. [학교 인증] 페이지에서 인증을 신청해주시기 바랍니다.

                    </div>


                    <div class="qna_account_wrap_list">
                        <a id="color-change5" class="qna_account_list" href="javascript:doDisplay5();">이름,
                            다른 계정에서 다시 인증을 할 수 있나요?</a>
                    </div>

                    <div id="myDIV5" class="hidden_list" style="display: none;">

                        서비스 악용을 막기 위해, 기존 계정에서 인증을 완료한 날로부터 30일이 지난 후에만 다른 계정에서 인증을 할 수 있습니다.

                        다른 계정에서 동일한 학적 정보(학번, 웹메일 등)를 이용하여 인증을 할 경우, 기존 계정의 인증은 즉시 초기화 됩니다.

                    </div>

                    <div class="qna_account_wrap_list">
                        <a id="color-change6" class="qna_account_list" href="javascript:doDisplay6();">닉네임,
                            인증이 갑자기 해제되었는데 어떻게 하나요?</a>
                    </div>

                    <div id="myDIV6" class="hidden_list" style="display: none;">

                        아래의 경우 인증이 해제될 수 있습니다. 재인증 이후, 에브리타임을 정상적으로 이용하실 수 있습니다.

                        다른 계정에서 동일한 학적 정보(학번, 웹메일 등)를 이용하여 인증을 성공할 경우
                        다중 계정, 자료 조작 등 약관에 어긋나는 방법으로 인증을 성공했을 경우
                        교직원, 학점교류생 등 학부생이 아닌 학내 구성원으로 판단될 경우
                        게시물 유출, 운영자 사칭 등 중대한 약관 위반을 했을 경우</div>


                    <div class="qna_account_wrap_list">
                        <a id="color-change7" class="qna_account_list" href="javascript:doDisplay7();">인증 시 첨부한 자료의
                            개인정보는 안전한가요?</a>
                    </div>

                    <div id="myDIV7" class="hidden_list" style="display: none;">

                        입력하는 모든 정보는 SSL(HTTPS) 방식으로 암호화되어 처리됩니다. 또한 인증 처리 이후, 첨부한 자료는 개인정보처리방침에 의해 안전하게 처리됩니다.

                        증명 자료에서는 필요한 정보(학교, 이름, 학번, 수험번호 등)를 제외한 모든 개인정보(카드번호, 생년월일, 사진 등)는 보이지 않게 가린 후 제출하셔야 합니다. 마스킹하지
                        않은 자료로는 인증이 처리되지 않습니다.

                    </div>

                    <div class="qna_account_wrap_list">
                        <a id="color-change8" class="qna_account_list" href="javascript:doDisplay8();">인증 자료가 개명 전 이름으로
                            발급됐어요.</a>
                    </div>

                    <div id="myDIV8" class="hidden_list" style="display: none;">

                        학교 인증 진행 시 인증 자료(학생증 등)를 첨부할 때, 인증 자료와 개명 증명서(개명을 확인할 수 있는 기본증명서 또는 주민등록초본)를 한 장의 사진으로 찍어 첨부해주시기
                        바랍니다.

                        주민등록번호, 본인 이외 타인의 개인정보 등 불필요한 정보는 마스킹해주시기 바랍니다.

                    </div>

                    <div class="qna_account_wrap_list">
                        <a id="color-change9" class="qna_account_list_end" href="javascript:doDisplay9();">"첨부할 수 없는
                            파일입니다."라는 오류가 나요.</a>
                    </div>

                    <div id="myDIV9" class="hidden_list_end" style="display: none;">

                        JPG, PNG 등 정상적으로 열리는 이미지 파일만 첨부할 수 있습니다.

                        정상적인 이미지임에도 계속 첨부가 안되는 경우, 크기 조절, 용량 압축 등의 변환 작업을 거친 후 다시 시도해주시기 바랍니다.
                    </div>



                </div>
                <div>
                    <h3 class="qna_title2">합격자 인증</h3>
                    <div class="qna_account_wrap">
                        <div class="qna_account_wrap_list">
                            <a id="color-change10" class="qna_account_list" href="javascript:doDisplay10();">
                                여러 학교에 합격한 경우 어떻게 하나요? </a>
                        </div>

                        <div id="myDIV10" class="hidden_list" style="display: none;">

                            에브리타임은 1인 1계정 정책에 따라 한 개의 학교에만 가입할 수 있습니다. 최종 등록을 마친 학교에 가입해주시기 바랍니다.

                            회원 탈퇴 및 재가입이 반복될 경우, 일정 기간 동안 회원가입이 제한되므로 주의해주시기 바랍니다.</div>


                        <div class="qna_account_wrap_list">
                            <a id="color-change11" class="qna_account_list_end" href="javascript:doDisplay11();">
                                합격자 인증 대상이 누구인가요?</a>
                        </div>

                        <div id="myDIV11" class="hidden_list_end" style="display: none;">

                            학부 신입생/편입생 합격자에 한해 인증을 할 수 있습니다. 불합격자, 예비합격자, 대학원 합격자 등은 인증이 불가능합니다.</div>







                    </div>
                </div>
            </div>

        </div>
    </div>


</body>

<script>
    $("#my_menu_board").removeClass("my_menu_active");
</script>

<script>
    function doDisplay1() {
        let num = 1;
        var con1 = document.getElementById("myDIV1");
        if (con1.style.display == 'none') {
            con1.style.display = 'block';
            autoClose(num);
        } else {
            con1.style.display = 'none';
            $("#color-change1").removeClass("font_color_red");
        }
    }
    function doDisplay2() {
        let num = 2;
        var con2 = document.getElementById("myDIV2");
        if (con2.style.display == 'none') {
            con2.style.display = 'block';
            autoClose(num);
        } else {
            con2.style.display = 'none';
            $("#color-change2").removeClass("font_color_red");
        }
    }
    function doDisplay3() {
        let num = 3;
        var con3 = document.getElementById("myDIV3");
        if (con3.style.display == 'none') {
            con3.style.display = 'block';
            autoClose(num);
        } else {
            con3.style.display = 'none';
            $("#color-change3").removeClass("font_color_red");
        }
    }
    function doDisplay4() {
        let num = 4;
        var con4 = document.getElementById("myDIV4");
        if (con4.style.display == 'none') {
            con4.style.display = 'block';
            autoClose(num);
        } else {
            con4.style.display = 'none';
            $("#color-change4").removeClass("font_color_red");
        }
    }
    function doDisplay5() {
        let num = 5;
        var con5 = document.getElementById("myDIV5");
        if (con5.style.display == 'none') {
            con5.style.display = 'block';
            autoClose(num);
        } else {
            con5.style.display = 'none';
            $("#color-change5").removeClass("font_color_red");
        }
    }
    function doDisplay6() {
        let num = 6;
        var con6 = document.getElementById("myDIV6");
        if (con6.style.display == 'none') {
            con6.style.display = 'block';
            autoClose(num);
        } else {
            con6.style.display = 'none';
            $("#color-change6").removeClass("font_color_red");
        }
    }
    function doDisplay7() {
        let num = 7;
        var con7 = document.getElementById("myDIV7");
        if (con7.style.display == 'none') {
            con7.style.display = 'block';
            autoClose(num);
        } else {
            con7.style.display = 'none';
            $("#color-change7").removeClass("font_color_red");
        }
    }
    function doDisplay8() {
        let num = 8;
        var con8 = document.getElementById("myDIV8");
        if (con8.style.display == 'none') {
            con8.style.display = 'block';
            autoClose(num);
        } else {
            con8.style.display = 'none';
            $("#color-change8").removeClass("font_color_red");
        }
    }
    function doDisplay9() {
        let num = 9;
        var con9 = document.getElementById("myDIV9");
        if (con9.style.display == 'none') {
            con9.style.display = 'block';
            autoClose(num);
        } else {
            con9.style.display = 'none';
            $("#color-change9").removeClass("font_color_red");
        }
    }
    function doDisplay10() {
        let num = 10;
        var con10 = document.getElementById("myDIV10");
        if (con10.style.display == 'none') {
            con10.style.display = 'block';
            autoClose(num);
        } else {
            con10.style.display = 'none';
            $("#color-change10").removeClass("font_color_red");
        }
    }
    function doDisplay11() {
        let num = 11;
        var con11 = document.getElementById("myDIV11");
        if (con11.style.display == 'none') {
            con11.style.display = 'block';
            autoClose(num);
        } else {
            con11.style.display = 'none';
            $("#color-change3").removeClass("font_color_red");
        }
    }
    function autoClose(num) {
        var con1 = document.getElementById("myDIV1");
        var con2 = document.getElementById("myDIV2");
        var con3 = document.getElementById("myDIV3");
        var con4 = document.getElementById("myDIV4");
        var con5 = document.getElementById("myDIV5");
        var con6 = document.getElementById("myDIV6");
        var con7 = document.getElementById("myDIV7");
        var con8 = document.getElementById("myDIV8");
        var con9 = document.getElementById("myDIV9");
        var con10 = document.getElementById("myDIV10");
        var con11 = document.getElementById("myDIV11");
        if (num == 1) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change1").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 2) {
            con1.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change2").addClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 3) {
            con2.style.display = 'none';
            con1.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change3").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 4) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con1.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change4").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 5) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con1.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change5").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 6) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con1.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change6").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 7) {
            con1.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con2.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change7").addClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 8) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con1.style.display = 'none';
            con9.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change8").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 9) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con1.style.display = 'none';
            con10.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change9").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 10) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con1.style.display = 'none';
            con11.style.display = 'none';
            $("#color-change10").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change11").removeClass("font_color_red");
        } else if (num == 11) {
            con2.style.display = 'none';
            con3.style.display = 'none';
            con4.style.display = 'none';
            con5.style.display = 'none';
            con6.style.display = 'none';
            con7.style.display = 'none';
            con8.style.display = 'none';
            con9.style.display = 'none';
            con1.style.display = 'none';
            con10.style.display = 'none';
            $("#color-change11").addClass("font_color_red");
            $("#color-change2").removeClass("font_color_red");
            $("#color-change3").removeClass("font_color_red");
            $("#color-change4").removeClass("font_color_red");
            $("#color-change5").removeClass("font_color_red");
            $("#color-change6").removeClass("font_color_red");
            $("#color-change7").removeClass("font_color_red");
            $("#color-change8").removeClass("font_color_red");
            $("#color-change9").removeClass("font_color_red");
            $("#color-change1").removeClass("font_color_red");
            $("#color-change10").removeClass("font_color_red");
        }
    }
</script>

</html>
{{> /layout/footer}}